<!DOCTYPE html>
<html lang="en">
<head>    
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="{{url_for('static', filename='website_1.js')}}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    
    <script type="text/javascript">
    var intervalID = setInterval(update_values,1000);

      function update_values() {
            $.getJSON($SCRIPT_ROOT + '/_stuff',
               
          function(data) {
            $('#result').text(data.result);
            console.log(data)
          });
      
        };
    
        function stopTextColor() {
          clearInterval(intervalID);
        }
    </script>


    
    <title>Group5</title>
    
    
    <script src="jquery.js"></script> 
    <script> 
    $(function(){
      $("#includedContent").load("table.html"); 
    });
    </script> 
    
    
</head>

<body>
    
    <section>
      <h1>Group 5 Jetbot Interface</h1>
      <p id=status_1>IDLE.</p>
    </section>
    
    <!-- CAMERA FEED   -->
    <img src="{{ url_for('video_feed') }}">
    
    <!-- BUTTONS   -->
    <h1>JETBOT CONTROLS</h1>

    <button type="button" onclick="StatusUpdate()">INITIATE</button>


    <div id="includedContent"></div>
    <!--    
    ----------------------------
    -->
    
    <h1>Dynamic Update</h1>
    <p>
        <span id="result">?</span>
    <script>
    document.getElementById("result").innerHTML;
    </script>

        <button onclick="stopTextColor();">Stop</button>
    
    </body>

</html>